#div-main {
    position:fixed;
    top: calc(35%);
    left: calc(35%);
}

.shiny-notification {
    position:fixed;
    top: calc(55%);
    left: calc(35%);
    width: 300px;
}

.book .book-summary {
	color:pink;
	width: 35px;
}